COMPOSE_PROFILES=local-fuseki
SKOSMOS_PORT=9090
SKOSMOS_CONFIG=./config/skosmos-config.local-fuseki.ttl
SKOSMOS_IMAGE=quay.io/natlibfi/skosmos:v3.2
FUSEKI_PORT=127.0.0.1:9030
CACHE_PORT=127.0.0.1:9031
JENA_VERSION=5.4.0
